[Unit]
Description=TUXEDO Fan Control

[Service]
Type=forking
ExecStart=/bin/bash -c "Xvfb :98 -screen 0 1x1x16 & export DISPLAY=:98 && %TFCPATH% --startdaemon"
ExecStop=/bin/bash -c "Xvfb :98 -screen 0 1x1x16 & export DISPLAY=:98 && %TFCPATH% --stopdaemon"
ExecReload=/bin/bash -c "Xvfb :98 -screen 0 1x1x16 & export DISPLAY=:98 && %TFCPATH% --restartdaemon"

[Install]
WantedBy=multi-user.target
